<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.precompiled-c-header</string>
		<string>public.precompiled-c-plus-plus-header</string>
	</array>
	<key>BuildableType</key>
	<string>None</string>
	<key>DefaultCompletionName</key>
	<string>PrefixHeader</string>
	<key>Description</key>
	<string>A prefix header file.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.pch</string>
	<key>SortOrder</key>
	<string>1</string>
	<key>Summary</key>
	<string>A prefix header file</string>
</dict>
</plist>
