<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildableType</key>
	<string>None</string>
	<key>DefaultCompletionName</key>
	<string>Config</string>
	<key>Description</key>
	<string>An empty Xcode configuration settings file.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.xcconfig</string>
	<key>Summary</key>
	<string>An empty Xcode configuration settings file.</string>
</dict>
</plist>
